# python intermediates
__pycache__
*.pyc

# assembler, python package files
build
dist
pyas.egg-info

# local folder(s) containing code to experiment
experiment

# binary object files
*.o

# misc
.DS_Store
.vscode